.GameStatePage {
  position: relative;
  margin-bottom: 1rem;
}

.GameImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.ImageLoading {
  opacity: 0.7;
}

.ImageLoaded {
  animation: fade-in 0.3s linear forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.GameImageEffect {
  position: absolute;
  z-index: -1;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  inset: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: linear-gradient(
    transparent 0%,
    rgba(#f6f8fa, 0.5) 40%,
    rgba(#f6f8fa, 1) 100%
  );
  mask-image: linear-gradient(
    transparent 0%,
    rgba(#f6f8fa, 0.5) 40%,
    rgba(#f6f8fa, 1) 100%
  );
}

.GameImageOverlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(255 255 255 / 0%) 0%,
    rgba(#f6f8fa, 0.05) 40%,
    rgba(#f6f8fa, 1) 100%
  );
  inset: 0;
}

html[data-theme="dark"] .GameImageOverlay {
  background: linear-gradient(
    180deg,
    rgb(255 255 255 / 0%) 0%,
    rgba(#101010, 0.05) 40%,
    rgba(#101010, 1) 100%
  );
}

.PageContent {
  padding-top: 250px;
}
