.Paginator {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.7rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 6px;
}

.PageButton {
  position: relative;
  min-width: 1.5rem;
  padding: 3px 2px;
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid var(--color-deco);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(39 39 42 / 8%);
  }
}

.PageButtonCurrent {
  font-weight: bold;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-accent);
    content: "";
  }
}
