.ExpandedSelect {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 3px;
  overflow: auto;
  background-color: var(--color-paper);
  border-radius: 6px;

  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.OptionsList {
  display: flex;
  gap: 0.3rem;
  white-space: nowrap;
}

.Option {
  list-style: none;

  & > button {
    display: inline-flex;
    flex: 1 0 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 80px;
    height: 100%;
    padding: 0.5rem 0.75rem;
    color: var(--color-text);
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    white-space: nowrap;
    text-align: center;
    text-transform: inherit;
    background-color: rgb(128 128 128 / 4%);
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      scale 0.3s ease;
    user-select: none;
  }

  &:hover > button {
    background-color: var(--color-deco);
  }

  &:active > button {
    scale: 0.95;
  }

  &.OptionActive {
    & > button {
      @supports (view-transition-name: none) {
        view-transition-name: expanded-select-option-active;
      }

      color: #fff;
      background-color: var(--color-accent);
      box-shadow: 3px 3px 5px 0 var(--color-accent-shadow);
    }

    &:hover > button {
      background-color: var(--color-accent-hover);
    }

    &:has(button:focus-visible) > button:focus-visible {
      outline-offset: 1px;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &:has(button:focus-visible) > button:focus-visible {
    outline: 2px solid var(--color-accent);
  }
}

.ExpandedSelectVertical {
  & > .OptionsList {
    flex-direction: column;

    & > .Option {
      flex: 1 0 auto;
    }
  }
}

.FakeInput {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
