.Input {
  width: 100%;
  padding: 0.5rem;
  color: var(--color-text);
  font-size: 1rem;
  background-color: var(--color-paper);
  border: 1px solid var(--color-deco);
  border-radius: 6px;
  outline: none;
  transition: border-color 0.1s ease;
  caret-color: var(--color-accent);

  &:focus {
    border-color: var(--color-accent);
  }
}
