.Input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--paper-color);
  border: 2px solid var(--deco-color);
  border-radius: 6px;
  outline: none;
  transition: border-color 0.1s ease;
  caret-color: var(--accent-color);

  &:focus {
    border-color: var(--accent-color);
  }
}
