.ModalHeader > div {
  flex: 1;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.ModalBody {
  padding: 0.5rem !important;
}

.ConfirmActions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-top: 0.5rem;
}

.ConfirmAction {
  flex: 1;
}
