.PolyButton {
  position: relative;
}

.PolyButtonBlock {
  display: flex;
  align-items: stretch;
}

.PolyButtonButton {
  position: relative;
  padding: 0.25rem 0.5rem;
  color: #fff;
  font-weight: 700;
  font-size: 0.75rem;
  font-family: inherit;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-accent);
  border: 2px solid transparent;
  border-right: 2px solid var(--color-accent-hover);
  border-radius: 6px 0 0 6px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  & span {
    display: inline-flex;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    border-color: var(--color-deco);
    outline: 2px solid var(--color-accent);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-accent-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--color-accent);
  }
}

.Loading {
  opacity: 0;
}

.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 80%;
  color: #fff;
  transform: translate(-50%, -50%);
  stroke: currentcolor !important;
}

.PolyButtonMenuButton {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-accent);
  border: 2px solid transparent;
  border-radius: 0 6px 6px 0;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    border-color: var(--color-deco);
    outline: 2px solid var(--color-accent);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-accent-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--color-accent);
  }

  /* arrows */
  & > div {
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: transform 0.15s ease-in-out;
    pointer-events: none;
  }

  & > div:nth-child(1) {
    top: 50%;
    left: calc(50% - 2px);
    transform: translateY(-50%) rotate(45deg);
  }

  & > div:nth-child(2) {
    top: 50%;
    right: calc(50% - 2px);
    transform: translateY(-50%) rotate(-45deg);
  }

  &[data-is-open="true"] > div:nth-child(1) {
    transform: translateY(-50%) rotate(-45deg);
  }

  &[data-is-open="true"] > div:nth-child(2) {
    transform: translateY(-50%) rotate(45deg);
  }
}

.PolyButtonSubActions {
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  width: max-content;
  min-width: 100%;
  list-style: none;
  background-color: var(--color-accent);
  border-radius: 6px;
  transform: translateX(-50%);
}

.PolyButtonSubAction {
  display: block;

  & > button {
    display: inline-flex;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.25rem 0.5rem;
    color: #fff;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      scale 0.3s ease;

    &:focus-visible {
      border-color: var(--color-deco);
      outline: 2px solid var(--color-accent);
    }

    &:hover {
      background-color: var(--color-accent-hover);
    }

    &:active {
      scale: 0.9;
    }
  }

  &:not(:first-child) {
    border-top: 2px solid var(--color-accent-hover);
  }
}
