.RegisterPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Form {
  width: 100% !important;
  min-width: 400px;
  max-width: 600px;

  @media (width <= 500px) {
    min-width: auto;
  }
}
