.RegisterPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Form {
  width: 100% !important;
  max-width: 100%;
  min-width: 400px;
  @media (max-width: 500px) {
    min-width: auto;
  }
}
