{
  "repositoryUrl": "https://github.com/GravityTwoG/cloud-saves.git",
  "branches": [
    "master"
  ],
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ]
  ]
}
