.SearchForm {
  display: flex;
  box-shadow: var(--shadow-paper);

  & > .SearchInput {
    flex: 1;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > .SearchButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    & svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }
}
