.Select {
  width: 100%;
  padding: 5px 4px 6px;
  border: 2px solid var(--color-deco);
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  color: var(--color-text);
  background-color: var(--color-paper);
  line-height: 1;
  outline: none;
  transition: border-color 0.1s ease;

  &:focus {
    border-color: var(--color-accent);
  }

  &:disabled {
    background-color: #fff;
    font-weight: 700;
  }
}
