.FolderExplorer {
  .FileInfo {
    flex: 1;

    &[data-type="folder"] {
      cursor: pointer;
    }
  }

  .FileButton {
    margin-left: auto;
  }
}

.FolderActions {
  display: flex;
  gap: 0.25rem;
  margin: 1rem 0;
}

.GameInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;

  .GameIcon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    fill: var(--text-color);
  }
}
