.ModalHeader > div {
  text-align: center;
  margin: 0;
  flex: 1;
}

.ModalBody {
  padding: 0.5rem;
}

.ConfirmActions {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.ConfirmAction {
  flex: 1;
}
