.Form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  max-width: 100%;
  gap: 0.5rem;
}

.Field {
  width: 100%;
}

.Label {
  display: block;
  padding: 4px 0;
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--color-text);

  & > p {
    margin: 0 0 0.25rem;
  }
}

.FormActions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.SubmitButton {
  width: 100%;
}
