.Modal {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  will-change: opacity;
  --animation-time: 0.15s;
  transition: opacity var(--animation-time) ease;

  @media screen and (max-width: 576px) {
    padding: 100px 0;
  }

  &.ModalOpen {
    opacity: 1;
  }
}

.ModalBody {
  margin: auto 0;
  max-width: 1200px;
  min-width: 120px;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 6px;

  transform: scale3d(0.9, 0.9, 1);
  will-change: transform;
  transition: transform var(--animation-time) ease;

  @media (max-width: 1200px) {
    max-width: 100%;
  }

  &.ModalOpen {
    transform: scale3d(1, 1, 1);
  }
}

.ModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ModalTitle {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }
}
