.Field {
  display: block;
  width: 100%;
}

.Label {
  display: block;
  padding: 4px 0;

  & > .LabelText {
    margin: 0 0 0.5rem;
    color: var(--color-text);
    font-size: 1.25rem;
    line-height: 2rem;
    cursor: pointer;
  }
}
