.UserItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .UserInfo {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    align-items: center;

    & > * {
      flex: 1;
    }
  }
}
