:root {
  --background-color: #fff;
  --text-color: #000;
  --accent-color: #ff770f;
  --accent-hover-color: #f7a76c;
  --secondary-color: #222;
  --secondary-hover-color: #555;
  --deco-color: #d8d8d8;
}

.bg-accent {
  background-color: var(--accent-color);
}
