.ThreeDotsMenu {
  position: relative;
}

.ThreeDotsMenuButton {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    scale 0.3s ease;

  & > div {
    position: absolute;
    top: 50%;
    width: 0.3rem;
    height: 0.3rem;
    background-color: white;
    border-radius: 50%;

    &:nth-child(1) {
      left: 50%;
      transform: translate(calc(-50% - 0.75rem), -50%);
    }

    &:nth-child(2) {
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:nth-child(3) {
      left: 50%;
      transform: translate(calc(-50% + 0.75rem), -50%);
    }
  }

  &:hover {
    background-color: rgb(170 170 173 / 60%);
  }

  &:active {
    scale: 0.9;
  }
}

.ThreeDotsMenuContent {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.25rem;
  overflow: hidden;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);

  .ThreeDotsMenuItem {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:not(:first-child) {
      border-top: 1px solid var(--color-deco);
    }

    &:hover {
      background-color: rgb(255 255 255 / 20%);
    }
  }
}
