.ResetPasswordPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Form {
  width: 100% !important;
  min-width: 400px;
  max-width: 600px;
}
