.MainLayout {
  position: relative;
  display: flex;
  height: 100vh;

  & > main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;

    & > .Content {
      flex: 1;
      width: 100%;
    }
  }
}

.DragBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 32px;
  background-color: transparent;
  user-select: none;
  -webkit-app-region: drag;
}
