.MainLayout {
  position: relative;
  display: flex;
  height: 100vh;

  & > .Main {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;

    & > .Content {
      flex: 1;
      width: 100%;
    }
  }
}

.DragBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 32px;
  background-color: transparent;
  user-select: none;
  -webkit-app-region: drag;
}

.Header {
  position: fixed;
  top: 2rem;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: calc(100% - 12px);
  padding-left: 5rem;
  pointer-events: none;

  & > div {
    flex: 1;
  }

  & .GoBack {
    position: relative;
    z-index: 999;
    pointer-events: all;
  }
}
