.H1 {
  font-size: 3.75rem;
  line-height: 1.8;
  font-weight: 300;
}
.H2 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 2;
}
.H3 {
  font-weight: 700;
}
.H4 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.H5 {
  font-size: 0.75rem;
  line-height: 1rem;
}
.H6 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.Paragraph {
  font-size: 1rem;
  margin: 0.25rem 0;
}
