.H1 {
  color: var(--color-text);
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.8;
}

.H2 {
  color: var(--color-text);
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 2;
}

.H3 {
  color: var(--color-text);
  font-weight: 700;
}

.H4 {
  color: var(--color-text);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.H5 {
  color: var(--color-text);
  font-size: 0.75rem;
  line-height: 1rem;
}

.H6 {
  color: var(--color-text);
  font-size: 0.75rem;
  line-height: 1rem;
}

.Paragraph {
  margin: 0.25rem 0;
  color: var(--color-text);
  font-size: 1.125rem;
}
