.Preloader {
  min-height: 100px;
  position: relative;

  &[data-is-visible="true"] {
    min-height: 250px;
    & .Spinner {
      min-height: 250px;
      display: flex;
      background-color: var(--color-background);
      opacity: 0.5;
    }
  }
}

.Spinner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 6px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
