.DownloadManager {
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 500;
  width: 20rem;

  .ManagerExpaned {
    max-height: 50vh !important;
  }
}

.Downloads {
  padding: 0.25rem;
}

.DownloadItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .ProgressCircle {
    margin-left: auto;
  }
}

.ProgressCircle {
  width: 3rem;
  height: 3rem;

  font-size: 14px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  --progress-bar-color: #9cff2e;

  background: radial-gradient(closest-side, white 85%, transparent 85% 100%),
    conic-gradient(
      var(--progress-bar-color) var(--progress),
      var(--deco-color) 0
    );

  &:after {
    content: attr(data-progress) "%";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 14px;
    line-height: 14px;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background: white;

    text-align: center;
  }

  &.Error {
    --progress-bar-color: #d82e2e;
  }

  &.Complete {
    --progress-bar-color: #71be18;
  }
}
