.GoBackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  color: transparent;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 0 #0000;
  cursor: pointer;
  transition:
    color 0.6s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    scale 0.3s ease;
  pointer-events: all;

  &:hover {
    color: var(--color-text);
    background-color: var(--color-paper);
    box-shadow: 0 0 50px #0007;
  }

  &:active {
    scale: 0.95;
  }

  &:focus-visible {
    color: var(--color-text);
    background-color: var(--color-paper);
    outline: 2px solid var(--color-accent);
    box-shadow: 0 0 50px #0007;
  }

  [data-theme="dark"]:root &:hover {
    box-shadow: 0 0 50px #7777;
  }
}
