.FadedCard {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 250px;
  overflow: hidden;
  background-size: cover;
  border-radius: 6px;
}

.FadedCardLink {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-decoration: none;
}

.FadedCardInner {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 0.75rem 1rem;
  background-image: linear-gradient(
    180deg,
    rgb(255 255 255 / 20%) 0%,
    rgb(0 0 0 / 80%) 60%,
    rgb(0 0 0 / 90%) 100%
  );
  background-position: 0% 50%;
  background-size: 100% 200%;
  transition: background-position 0.3s ease;

  &:hover {
    background-position: 0% 60%;
  }
}

.Loading {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.Loaded {
  animation: fade-in 0.5s linear;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
