.FolderExplorer {
  margin: 0.5rem 0;

  .FileButton {
    margin-left: auto;
  }
}

.FolderActions {
  display: flex;
  gap: 0.25rem;
  margin: 1rem 0;
}

.FileCard {
  &[data-type="folder"] {
    cursor: pointer;
  }

  & .FileActions {
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  & .FileCardInfo {
    margin-top: auto;
    color: white;

    .FileInfo {
      font-size: 0.875rem;
      opacity: 0.8;
    }

    .GameInfo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  &:hover .FileActions {
    opacity: 1;
  }
}
