.NoElements {
  padding: 4rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;

  & > svg {
    width: 10rem;

    path {
      fill: var(--color-deco);
    }
  }
}
