.NoElements {
  padding: 45px 1.25rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;

  & > svg {
    display: block;
    width: 10rem;
    margin: auto;

    path {
      fill: var(--color-deco);
    }
  }
}
