.tac {
  text-align: center;
}

.w-full {
  width: 100%;
}

/* Margins. Exported from Tailwind.CSS */
.m-0 {
  margin: 0px;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.m-px {
  margin: 1px;
}
.mx-px {
  margin-left: 1px;
  margin-right: 1px;
}
.my-px {
  margin-top: 1px;
  margin-bottom: 1px;
}
.mt-px {
  margin-top: 1px;
}
.mr-px {
  margin-right: 1px;
}
.mb-px {
  margin-bottom: 1px;
}
.ml-px {
  margin-left: 1px;
}

.m-1 {
  margin: 0.25rem;
} /* 4px */
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
} /* 4px */
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
} /* 4px */
.mt-1 {
  margin-top: 0.25rem;
} /* 4px */
.mr-1 {
  margin-right: 0.25rem;
} /* 4px */
.mb-1 {
  margin-bottom: 0.25rem;
} /* 4px */
.ml-1 {
  margin-left: 0.25rem;
} /* 4px */

.m-2 {
  margin: 0.5rem;
} /* 8px */
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
} /* 8px */
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} /* 8px */
.mt-2 {
  margin-top: 0.5rem;
} /* 8px */
.mr-2 {
  margin-right: 0.5rem;
} /* 8px */
.mb-2 {
  margin-bottom: 0.5rem;
} /* 8px */
.ml-2 {
  margin-left: 0.5rem;
} /* 8px */

.m-3 {
  margin: 0.75rem;
} /* 12px */
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
} /* 12px */
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
} /* 12px */
.mt-3 {
  margin-top: 0.75rem;
} /* 12px */
.mr-3 {
  margin-right: 0.75rem;
} /* 12px */
.mb-3 {
  margin-bottom: 0.75rem;
} /* 12px */
.ml-3 {
  margin-left: 0.75rem;
} /* 12px */

.m-4 {
  margin: 1rem;
} /* 16px */
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
} /* 16px */
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
} /* 16px */
.mt-4 {
  margin-top: 1rem;
} /* 16px */
.mr-4 {
  margin-right: 1rem;
} /* 16px */
.mb-4 {
  margin-bottom: 1rem;
} /* 16px */
.ml-4 {
  margin-left: 1rem;
} /* 16px */
.m-5 {
  margin: 1.25rem;
} /* 20px */
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
} /* 20px */
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
} /* 20px */
.mt-5 {
  margin-top: 1.25rem;
} /* 20px */
.mr-5 {
  margin-right: 1.25rem;
} /* 20px */
.mb-5 {
  margin-bottom: 1.25rem;
} /* 20px */
.ml-5 {
  margin-left: 1.25rem;
} /* 20px */
.m-6 {
  margin: 1.5rem;
} /* 24px */
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
} /* 24px */
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
} /* 24px */
.mt-6 {
  margin-top: 1.5rem;
} /* 24px */
.mr-6 {
  margin-right: 1.5rem;
} /* 24px */
.mb-6 {
  margin-bottom: 1.5rem;
} /* 24px */
.ml-6 {
  margin-left: 1.5rem;
} /* 24px */
.m-7 {
  margin: 1.75rem;
} /* 28px */
.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
} /* 28px */
.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
} /* 28px */
.mt-7 {
  margin-top: 1.75rem;
} /* 28px */
.mr-7 {
  margin-right: 1.75rem;
} /* 28px */
.mb-7 {
  margin-bottom: 1.75rem;
} /* 28px */
.ml-7 {
  margin-left: 1.75rem;
} /* 28px */
.m-8 {
  margin: 2rem;
} /* 32px */
.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
} /* 32px */
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
} /* 32px */
.mt-8 {
  margin-top: 2rem;
} /* 32px */
.mr-8 {
  margin-right: 2rem;
} /* 32px */
.mb-8 {
  margin-bottom: 2rem;
} /* 32px */
.ml-8 {
  margin-left: 2rem;
} /* 32px */
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.ms-auto {
  margin-inline-start: auto;
}
.me-auto {
  margin-inline-end: auto;
}
.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
