.BaseButton {
  display: inline-block;
  background-color: var(--color-accent);

  border-radius: 6px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  font-size: 0.75rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;

  &:hover:not(:disabled) {
    background-color: var(--color-accent-hover);
  }
  &:active:not(:disabled) {
    background-color: var(--color-accent);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    border-color: var(--color-deco);
  }

  &.isLoading {
    background-color: var(--color-accent-hover);
  }

  &.ColorSecondary {
    background-color: var(--color-secondary);

    &:hover:not(:disabled) {
      background-color: var(--color-secondary-hover);
    }

    &:active:not(:disabled) {
      background-color: var(--color-secondary);
    }

    &.isLoading {
      background-color: var(--color-secondary-hover);
    }
  }

  &.ColorDanger {
    background-color: var(--color-danger);

    &:hover:not(:disabled) {
      background-color: var(--color-danger-hover);
    }

    &:active:not(:disabled) {
      background-color: var(--color-danger-active);
    }

    &.isLoading {
      background-color: var(--color-danger-hover);
    }
  }
}

.PrimaryButton {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.CTAButton {
  padding: 9px 12px 9px;
  font-size: 1rem;
}

.loading {
  opacity: 0;
}

.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 80%;
  transform: translate(-50%, -50%);
}
