.BaseButton {
  display: inline-block;
  background-color: var(--accent-color);
  padding: 11px 12px 11px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  &:hover:not(:disabled) {
    background-color: var(--accent-hover-color);
  }
  &:active:not(:disabled) {
    background-color: var(--accent-color);
  }

  &:disabled {
    opacity: 0.5;
  }

  &.isLoading {
    background-color: var(--accent-hover-color);
  }

  &.ColorSecondary {
    background-color: var(--secondary-color);

    &:hover:not(:disabled) {
      background-color: var(--secondary-hover-color);
    }

    &:active:not(:disabled) {
      background-color: var(--secondary-color);
    }

    &.isLoading {
      background-color: var(--secondary-hover-color);
    }
  }

  &.ColorDanger {
    background-color: #b91c1c;

    &:hover:not(:disabled) {
      background-color: #7f1d1d;
    }

    &:active:not(:disabled) {
      background-color: #b91c1c;
    }

    &.isLoading {
      background-color: #7f1d1d;
    }
  }
}

.loading {
  opacity: 0;
}

.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 80%;
  transform: translate(-50%, -50%);
}
