:root {
  --background-color: #f6f8fa;
  --paper-color: #fff;
  --text-color: #000;
  --accent-color: #ff770f;
  --accent-hover-color: #f7a76c;
  --secondary-color: #222;
  --secondary-hover-color: #555;
  --deco-color: #d8d8d8;
}

[data-theme="dark"]:root {
  --background-color: #101010;
  --paper-color: #000000;
  --text-color: #f0f0f0;
  --accent-color: #ff770f;
  --accent-hover-color: #f7a76c;
  --secondary-color: #4c3450;
  --secondary-hover-color: #320838;
  --deco-color: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.bg-accent {
  background-color: var(--accent-color);
}
