:root {
  --color-background: #f6f8fa;
  --color-paper: #fff;
  --color-text: #000;
  --color-accent: #ff770f;
  --color-accent-hover: #f7a76c;
  --color-accent-shadow: #e6800b30;
  --color-secondary: #222;
  --color-secondary-hover: #555;
  --color-deco: #d8d8d8;
  --color-danger: #b91c1c;
  --color-danger-hover: #7f1d1d;
  --color-danger-active: #b91c1c;
  --color-success: #2b8a3e;
  --shadow-paper: 5px 5px 20px 0 #0000000e;
}

[data-theme="dark"]:root {
  --color-background: #101010;
  --color-paper: #000;
  --color-text: #f0f0f0;
  --color-accent: #ff770f;
  --color-accent-hover: #f7a76c;
  --color-secondary: #444;
  --color-secondary-hover: #666;
  --color-deco: #333;
  --shadow-paper: 5px 5px 15px 0 #3333330e;
}

html {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}

::view-transition-old(root),
[data-theme="dark"]::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
[data-theme="dark"]::view-transition-old(root) {
  z-index: 9999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: var(--color-background);
  scroll-behavior: smooth;
}

.bg-accent {
  background-color: var(--color-accent);
}

.custom-scrollbar {
  scroll-behavior: smooth;
}

/** In Chrome 121, support was added for scrollbar-color and scrollbar-width. If some of these properties are used, then ::-webkit-scrollbar will not work. */
@supports not selector(::-webkit-scrollbar) .custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: var(--color-accent) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent-hover);
}
