.GameAddPage {
  padding-bottom: 1rem;
}

.Label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}

.AddGameButtons {
  display: flex;
  justify-content: flex-end;
}

.PathItem {
  display: flex;
  align-items: stretch;
}

.PipelineItem {
  display: flex;
  align-items: stretch;
}

.SchemaField {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-end;
}

.ImagePreview {
  max-width: 256px;
  max-height: 256px;
  object-fit: contain;
}
