.GamePage {
  padding-bottom: 1rem;
}

.Header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.Actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
