.AsyncSelect {
  width: 100%;

  & > div > div {
    overflow: hidden;
    border-width: 1px;
    border-radius: 6px;
  }

  /* Control */
  & > div > div:nth-of-type(1) {
    box-shadow: none;
  }

  /* Input */
  & > div > div:nth-of-type(1) > div > div {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  /* Option */
  & > div > div:nth-of-type(2) > div > div {
    transition: background-color 0.1s ease;
  }
}
