.MySavePage {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.GameStateName {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;

  .GameIcon {
    width: 8rem;
    height: 6rem;

    object-fit: contain;
  }

  & > span {
    width: 100%;
  }
}

.GameStateNameForm {
  flex: 1;
  height: 100%;

  .GameStateNameInput {
    display: block;
    width: 100%;
    height: 108px;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 3.75rem;
    line-height: 1.8;
    font-weight: 300;
    color: var(--text-color);

    border: none;
    border-bottom: 1px solid var(--deco-color);
    outline: none;
  }
}

.GameSaveSettings {
  display: flex;
  gap: 0.5rem;

  .GameSaveSettingsLeft {
    flex: 1;
  }

  .GameSaveSettingsRight {
    width: auto;
    flex-grow: 0;
  }
}

.SyncSettingsPeriods {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
}

.SyncSettingsConfirmButton {
  width: 100%;
  font-size: 1rem;
}

.Buttons {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.GameSaveArchive {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 1rem;

  border: 1px solid var(--deco-color);
  border-radius: 6px;
}
