.MySavePage {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.GameSaveSettings {
  display: flex;
  gap: 0.5rem;

  .GameSaveSettingsLeft {
    flex: 1;
  }
}

.SyncSettingsPeriods {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
}

.SyncSettingsConfirmButton {
  width: 100%;
  font-size: 1rem;
}

.Buttons {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.GameSaveArchive {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 1rem;

  border: 1px solid var(--deco-color);
  border-radius: 6px;
}

.MetadataLabel {
}

.MetadataValue {
  font-weight: bold;
}
