.Sidebar {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--sidebar-width);
  min-height: 100vh;
  padding: 0.25rem;
  background: var(--color-paper);
  box-shadow: var(--shadow-paper);
  transition: width 0.3s ease;
}

.SidebarHeader {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;

  & > .AppButton {
    flex: 0;
    padding: 0.1rem 0.15rem;
  }
}

.GoBackButton {
  width: 1.25rem;

  & > svg {
    height: 1.15rem;
  }
}

.LogoContainer {
  width: 100%;
  margin-bottom: 4rem;
}

.Logo {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  user-select: none;

  & > p {
    color: var(--color-accent);
  }

  & > div > p {
    padding-left: 0.25rem;
  }
}

.Nav {
  width: 100%;

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
  }
}

.NavLink {
  display: block;
  width: 100%;
}

.NavIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  margin-left: 4px;
  padding: 4px 8px;

  & > svg {
    width: 32px;
    height: 32px;

    & path,
    & circle,
    & line {
      transition: stroke 0.3s ease;
      stroke: currentcolor;
    }
  }
}

.NavLabel {
  display: -webkit-box;
  width: 100%;
  padding-bottom: 0.5rem;
  padding-bottom: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-align: left;
  text-overflow: ellipsis;
  word-wrap: none;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  user-select: none;
}

.NavLinkTooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 1rem);
  z-index: 10;
  display: none;
  width: max-content;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-paper);
  border-radius: 6px;
  box-shadow:
    5px 5px 15px 0 #3333330e,
    5px 5px 15px 0 #3333330e,
    0 0 20px 0 #dfdcdc1a;
  transform: translateY(-50%);
}

.NavLinkAnchor {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 100%;
  color: var(--color-text);
  text-decoration: none;
  background-color: transparent;
  border-radius: 6px;
  transition:
    color 0.3s ease,
    scale 0.3s ease,
    background-color 0.3s ease,
    padding-bottom 0.3s ease,
    font-size 0.3s ease;
  will-change: scale, padding-bottom, font-size, background-color, color;

  &.NavLinkActive {
    color: var(--color-accent);
  }

  & .NavLinkRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &:hover {
    background-color: var(--color-deco);

    & .NavLinkTooltip {
      display: block;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent);
  }

  &:active {
    scale: 0.95;
  }
}

.AppButtons {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;

  &.Expanded {
    flex-flow: row-reverse wrap;
    align-items: stretch;
    justify-content: space-between;
    width: calc(var(--sidebar-width) - 8px);
  }

  & > .AppButton {
    width: 56px;
    max-width: 56px;
    height: 34px;
    max-height: 34px;
  }

  & > .AppButton svg {
    width: fit-content;
    height: 24px;
  }

  & > .AppButton:nth-child(1) {
    view-transition-name: sidebar-theme-button;
  }

  & > .AppButton:nth-child(2) {
    view-transition-name: sidebar-lang-button;
    margin: auto;
  }

  & > .AppButton:nth-child(3) {
    view-transition-name: sidebar-logout-button;
    margin-right: auto;
    margin-left: 0;
  }

  & > .AppButton::view-transition-group(sidebar-theme-button),
  & > .AppButton::view-transition-group(sidebar-lang-button),
  & > .AppButton::view-transition-group(sidebar-logout-button),
  & > .AppButton::view-transition-old(sidebar-theme-button),
  & > .AppButton::view-transition-old(sidebar-lang-button),
  & > .AppButton::view-transition-old(sidebar-logout-button),
  & > .AppButton::view-transition-new(sidebar-theme-button),
  & > .AppButton::view-transition-new(sidebar-lang-button),
  & > .AppButton::view-transition-new(sidebar-logout-button) {
    width: 56px;
    max-width: 56px;
    height: 34px;
    max-height: 34px;
    object-fit: none;
    object-position: center;
    overflow: clip;
    animation-duration: 0.5s;
  }
}

.AppButton {
  display: flex;
  flex: 1;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  color: var(--color-text);
  font-size: 1.2rem;
  line-height: 1;
  vertical-align: baseline;
  background-color: transparent;
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    scale 0.3s ease;
  user-select: none;

  &:focus-visible {
    outline: 2px solid var(--color-accent);
  }

  &:hover {
    background: var(--color-deco);
  }

  &:active {
    scale: 0.9;
  }
}

.LogoutButton {
  padding: 2px 0 0;

  & > svg {
    width: 1.5rem;
  }
}

.AnimatedText {
  width: 0;
  min-width: 0;
  overflow: hidden hidden;
  opacity: 0;
  transition:
    width 0.3s ease,
    opacity 0.3s ease;

  & > p {
    width: 100%;
    min-width: max-content;
  }
}
