.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GameActions {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 0.5rem;
}
