.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GameActions {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
