.Spoiler {
  width: 100%;

  .SpoilerTitle {
    width: 100%;
    padding: 0.25rem 1rem;
    color: #fff;
    font-size: 1rem;
    background-color: var(--color-accent);
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    outline: none;
    cursor: pointer;
    user-select: none;
  }

  .SpoilerContent {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: var(--color-paper);
    border: 1px solid var(--color-deco);
    transform: translateY(-100%);
    transform-origin: top;
    transition:
      max-height 0.15s ease-out,
      transform 0.1s ease-out;
    will-change: max-height;
  }

  .SpoilerExpanded {
    max-height: 100vh;
    overflow: visible;
    transform: translateY(0%);
  }
}
