.FolderExplorer {
  .FileInfo {
    flex: 1;

    &[data-type="folder"] {
      cursor: pointer;
    }
  }

  .FileButton {
    margin-left: auto;
  }
}

.FolderActions {
  display: flex;
  gap: 0.25rem;
  margin: 1rem 0;
}

.GamepadIcon {
  margin-top: 0.5rem;
  width: 16px;
  height: 16px;
}
